@font-face {
    font-family: "Heebo";
    src: url("../fonts/Heebo.ttf");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "TrumpGothicPro";
    src: url("../fonts/TrumpGothicPro.ttf");
    font-weight: 500;
    font-style: normal;
}