footer {
    position: static;
    background-color: #191606;
    display: flex;
    width: 100vw;
    height: 30vh;
    color: #fff;
}

footer ul {
    --white: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
}

footer ul:hover {
    --white: rgba(256, 256, 256, 0.5)
}

footer ul li {
    margin: 0px 10px;
}

footer ul li svg {
    fill: var(--white);
}
footer ul li svg:hover{
    --white: white;
}