main {
    position: relative;
    perspective: 5px;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

main section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    box-sizing: border-box;
    transform-style: preserve-3d;
    position: relative;
}

section h1 {
    font-size: 100px;
    color: #fff;
}

.section1 {
    z-index: -1;
    min-height: 100vh;
}

.bg1 {
    content: '';
    background-image: url('../img/pano2-cropped+and+healed.jpg');
    background-position: center center;
    background-size: cover;
    width: 100vw;
    min-height: 100vh;
    position: absolute;
    transform: translateZ(-1px) scale(1.2);
}

.section2 {
    z-index: -2;
    margin-top: 20vh;
    min-height: 100vh;
}

.bg2 {
    content: '';
    background-image: url('../img/webcomics+banner.jpg');
    background-position: center center;
    background-size: cover;
    width: 100vw;
    min-height: 100vh;
    position: absolute;
    transform: translateZ(-2px) scale(1.4);
}

.section3 {
    z-index: -3;
    margin-top: 40vh;
    min-height: 100vh;
}

.bg3 {
    content: '';
    background-image: url('../img/image-asset.jpeg');
    background-position: center center;
    background-size: cover;
    width: 100vw;
    min-height: 100vh;
    position: absolute;
    transform: translateZ(-3px) scale(1.6);
}