* {
    scrollbar-width: 10px;
    scrollbar-color: rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

*::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
}

*::-webkit-scrollbar-track:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background: #fff;
    color: #000;
}